body {
    background-color: #B9B4C7;
    font-family: "EB Garamond", serif;
    color: #352F44;
    text-align: left;
    display: block;
    margin: 0;
}

h1 {
    font-size: 3rem;
    display: block;
}
    
p {
    font-size: 2rem;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

a:link {
    color: #352F44;
    text-decoration: underline;
  }
  
  a:visited {
    color: #352F44;
  }
  
  a:hover {
    color: #FAF0E6;
  }
  
  a:active {
    color: #FAF0E6;
  }


li {
        display: inline-block;
        padding: 0 1rem;
        list-style-type: none;

}


.top-container {
    margin: 10px 0 0;
}

.nav {
    margin: 100px 0 0; 
}


.wrapper {
padding: 50px;
}

.content {
        display: flex;
        flex-direction: column;
}

.intro {
    flex-wrap: nowrap;
    max-width: 700px;
}

.projects>p {
    font-size: 1rem;
}

hr {
    background-color: #B9B4C7; 
    border: #B9B4C7;
    margin: 20px;
}